*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --green-top: #009688; 
    --green-message: #d5f9ba; 
    --grey-frame: #eaeaea; 
    --grey-bg: #dbdbd3; 
    --lightblue-panel: #8edafc; 
    --grey-selected: #e9ebeb; 
    --grey-icons-message: #6b7376; 
    --grey-icons-frame: #bbbab8;

    --gg-fs-smaller: 12px;
}

/* DINAMIC CLASSES */

.active{
    background-color: var(--grey-selected);
}

/* FONTS */

.gg-fs-smaller{
    font-size: var(--gg-fs-smaller)
}

/* GENERAL */

body{
    height: 100vh;
}

.bg-wrapper{
    background-image: linear-gradient(180deg, var(--green-top) 15%, var(--grey-bg) 15%);
}

#main-window{
    width: 80%;
    height: 95%;
}

.section-header{
    height: 70px;
    background-color: var(--grey-frame);
}

/* LEFT-SECTION */
.left-window{
    background-color: white;
}

.left-window .my-profile{
    padding: 10px
}

.left-window .my-profile .my-pic{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-image: url('../img/avatar_io.jpg');
    background-size: cover;
    margin-right: 10px;
}

.left-window .my-profile .my-name{
    width: calc(100% - 155px);
}

.left-window .my-profile .my-profile-icons{
    width: 90px;
    color: var(--grey-icons-frame)
}

.left-window .notify-panel{
    padding: 0 15px;
    height: 80px;
    background-color: var(--lightblue-panel);
}

.left-window .notify-panel .notification-icon{
    height: 55px;
    width: 55px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 55px;
    font-size: 1.3rem;
    color: var(--lightblue-panel);
    margin-right: 10px;
}

.left-window .notify-panel .hide-panel{
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    color: var(--grey-icons-frame);
}

.left-window .notify-panel .hide-panel:hover{
    color: white;
    cursor: pointer;
}

.left-window .search-chats{
    height: 50px;
    background-color: var(--grey-frame);
    color: grey;
}

.left-window .search-chats input{
    width: 85%;
    height: 40px;
    border: none;
    outline: none;
}

.left-window .search-chats i{
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    background-color: white;

}

.left-window .chats{
    background-color: white;
    list-style: none;
    height: calc(100% - 200px);
    overflow-y: auto;
}

.fullHeight{
    height: calc(100% - 120px) !important;
}

.left-window .contact{
    height: 80px;
    padding: 5px 5px 5px 15px;
    cursor: pointer;
}

.contact .contact-pic{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    overflow: hidden;
}

.contact .contact-preview{
    width: calc(100% - 55px);
    padding: 0 18px;
}

.contact-preview span{
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
}

.contact .last-time{
    top: 5px;
    right: 5px;
    font-size: 10px;
}
/* RIGHT-SECTION */
.right-window{
    background-color: palegreen;
}

.right-window .active-profile{
    padding: 5px 15px;
}

.right-window .active-profile .active-pic{
    height: 55px;
    width: 55px;
    border-radius: 50%;
    background-size: cover;
    margin-right: 10px;
}

.right-window .active-profile .active-infos{
    width: calc(100% - 155px);
}

.right-window .active-profile .active-icons{
    width: 90px;
    color: var(--grey-icons-frame)
}

.right-window .active-profile .chat-options:hover{
    color: var(--grey-icons-message);
    cursor: pointer;
}

.right-window .active-profile .chat-opt-box{
    background-color: var(--grey-frame);
    top: 100%;
    right: 0px;
    padding: 10px;
    font-size: 12px;
    z-index: 500;
}

.right-window .active-profile .chat-opt-box span{
    width: max-content;
    padding: 10px;
    cursor: pointer;
}

.right-window .active-profile .chat-opt-box span:hover{
    background-color: var(--grey-bg);
    color: black;
}

.right-window .active-chat{
    height: calc(100% - 140px);
    background-image: url("../img/mine.jpg");
    background-repeat: repeat;
    overflow-y: auto;
}

.right-window .message-list{
    list-style: none;
    padding: 20px 80px;
}

.message-list .message{
    justify-content: flex-start;
    flex-direction: column;
    margin: 10px 0;
}

.message-list .message div:hover .msg-options{
    opacity: 1;
}

.message-list .message div:hover .sent-time{
    opacity: 0;
}

.message-list .message .sent{
    align-self: flex-end;
    min-width: 300px;
    max-width: 450px;
    background-color: var(--green-message);
    padding: 15px 40px 15px 12px;;
    border-radius: 10px;
    word-break: break-all;
}

.message-list .message .received{
    align-self: flex-start;
    min-width: 300px;
    max-width: 450px;
    background-color: white;
    padding: 15px 40px 15px 12px;
    border-radius: 10px;
    word-break: break-all;
}

.message-list .message .sent-time{
    bottom: 3px;
    right: 3px;
    font-size: 10px;
    color: var(--grey-icons-frame);
}

.message-list .message .msg-options{
    right: 10px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    opacity: 0;
}

.message-list .message .msg-options:hover{
    color: var(--grey-icons-frame);
}

.message-list .message .msg-options:hover .option-box{
    color: black;
}

.message-list .message .option-box{
    background-color: var(--grey-frame);
    top: 65%;
    right: 10px;
    padding: 10px;
    font-size: 12px;
    z-index: 500;
}

.message-list .message .option-box span{
    width: max-content;
    padding: 10px;
    cursor: pointer;
}

.message-list .message .option-box span:hover{
    background-color: var(--grey-bg);
    color: black;
}

.right-window .send-message{
    height: 70px;
    background-color: var(--grey-frame);
    padding: 5px 20px;
    color: var(--grey-icons-message);
}

.right-window .send-message input{
    width: 85%;
    height: 85%;
    border: none;
    padding: 15px;
    font-size: 1.2rem;
    color: grey;
    border-radius: 5px;
}

.right-window .send-message i:first-of-type:hover{
    color: var(--grey-icons-frame);
    cursor: pointer;
}

.right-window .send-message i:last-of-type:hover{
    color: var(--green-top);
    cursor: pointer;
}

.right-window .welcome{
    background-color: var(--grey-frame);
}