<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/3.1.0/luxon.min.js" integrity="sha512-79nhbkASdW5wurW8DtF9Vd7BEDKdTbCKkh87lW6W3tk9T4L9Bc58MzmvRzjMcFCSKpjkoRjwzrTdfOa5lkfJ5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/mediaquery.css">
    <script type="text/javascript" src="./js/myFunctions.js"></script>
</head>
<body> 

    <div id="app" class="h-100 w-100">
        <div v-if="splash" class="bg-wrapper h-100 w-100 d-flex justify-content-center align-items-center">
            <div id="main-window" class="bg-black row g-0">
                <div class="left-window col-12 col-sm-12 col-md-4 d-md-block h-100" :class="{'d-none': showChat, 'd-sm-none': showChat }">
                    <div class="section-header my-profile d-flex justify-content-start align-items-center">
                        <div class="my-pic"></div>
                        <p class="my-name fw-bolder m-0">Sofia</p>
                        <div class="my-profile-icons d-flex justify-content-between">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
                    <div v-if="!notificationPanel" class="notify-panel justify-content-start align-items-center position-relative">
                        <div class="notification-icon">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div>
                            <p class="m-0 fw-bolder">Ricevi notifiche di nuovi messaggi</p>
                            <span class="text-decoration-underline">Attiva notifiche desktop</span>
                        </div>
                        <span @click="notificationPanel = true" class="hide-panel position-absolute fs-5"><i class="fa-solid fa-xmark"></i></span>
                    </div>
                    <div class="search-chats d-flex justify-content-center align-items-center">
                        <i class="fa-solid fa-magnifying-glass"></i>
                        <input v-model="searchContacts" type="text">
                    </div>
                    <transition-group name="chatsFX" tag="ul" class="chats p-0 m-0" :class="{fullHeight: notificationPanel}">
                        <li @click="activeContact = item.id; showChat = !showChat" v-for="(item, index) in filterContacts" :key="item.id" :class="(activeContact == item.id)? 'active' : '' " class="contact d-flex justify-content-between align-items-center position-relative">
                            <div class="contact-pic">
                                <img :src="item.avatar" :alt='item.name' class="h-100 w-100">
                            </div>
                            <div class="contact-preview">
                                <p class="contact-name fw-bolder m-0">
                                    {{item.name}}
                                </p>
                                <span class="last-message gg-fs-smaller">
                                    {{item.messages.length > 0? item.messages[item.messages.length - 1].message : ''}}
                                </span>
                            </div>
                            <div class="last-time h-100 position-absolute">
                                {{item.messages.length > 0? parsedDate(item.messages[item.messages.length - 1].date) : ''}}
                            </div>
                        </li>
                    </transition-group>
                </div>
                <div class="right-window col-12 col-sm-12 col-md-8 d-md-block h-100" :class="{'d-none': !showChat, 'd-sm-none': !showChat }">
                    <div v-if="activeContact != 0" class="section-header active-profile d-flex justify-content-center align-items-center position-relative">
                        <i @click="showChat = !showChat" class="backToContacts fa-solid fa-arrow-left fs-4 me-2 d-md-none"></i>
                        <div class="active-pic" :style="getBgImage"></div>
                        <div class="active-infos">
                            <p class="m-0 fw-bolder">{{getContactName}}</p>
                            <span v-if="!isTyping">Ultimo accesso {{contacts[activeContact - 1].messages.length > 0? parsedDate(contacts[activeContact - 1].messages[contacts[activeContact - 1].messages.length - 1].date) : '---'}}</span>
                            <span v-else>Sta scrivendo...</span>
                        </div>
                        <div class="active-icons d-flex justify-content-between align-items-center fs-4 position-relative">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <i class="fa-solid fa-paperclip"></i>
                            <i @click="contacts[activeContact - 1].showChatOptions = !contacts[activeContact - 1].showChatOptions" class="chat-options fa-solid fa-ellipsis-vertical"></i>
                        </div>
                        <div v-if="contacts[activeContact -1].showChatOptions" class="chat-opt-box position-absolute d-flex flex-column">
                            <span @click="contacts[activeContact - 1].messages = []" class="my-2">Elimina tutti i messaggi</span>
                            <span class="my-2">Elimina chat</span>
                        </div>
                    </div>
                    <div v-if="activeContact != 0" class="active-chat">
                        <div v-for="(cont, indexC) in contacts" :key="cont.id" class="contact-window">
                            <transition-group v-if="cont.id == activeContact" name="messagesFX" tag="ul" class="message-list">
                                <li v-for="(msg, indexM) in cont.messages" :key="indexM" class="message d-flex">
                                    <div :class="msg.status" class="h-100 d-flex align-items-center position-relative">
                                        <span v-html="msg.message"></span>
                                        <span class="sent-time position-absolute">{{parsedDate(msg.date)}}</span>
                                        <span class="msg-options position-absolute"><i @click="msg.showOptions = !msg.showOptions" class="fa-solid fa-angle-down position-relative"></i></span>
                                        <div v-if="msg.showOptions" class="option-box d-flex flex-column position-absolute">
                                            <span @click="removeMessage(cont, indexM)" class="my-2">Elimina messaggio</span>
                                            <span class="my-2">Info messaggio</span>
                                        </div>
                                    </div>
                                </li>
                            </transition-group>
                        </div>
                    </div>
                    <div v-else class="welcome h-100 d-flex flex-column align-items-center justify-content-center text-center position-relative">
                        <h3>Boolzapp</h3>
                        <span>Invia e ricevi messaggi senza limiti. Usa Boolzapp su un massimo di 4 dispositivi collegati e 1 telefono contemporaneamente.</span>
                        <span class="position-absolute bottom-0 mb-5">
                            <i class="fa-solid fa-lock"></i>
                            con crittografia end-to-end
                        </span>
                    </div>
                    <div v-if="activeContact != 0" class="send-message d-flex justify-content-between align-items-center">
                        <div class="emoji-wrapper">
                            <i @click="showEmoji = !showEmoji" class="fa-regular fa-face-smile fs-4"></i>
                            <div v-if="showEmoji" class="emoji-container position-absolute">
                                <span v-for="(icon, index) in icons" :key="index" v-html="icon" @click="addEmoji(index)" class="emoji"></span>
                            </div>
                        </div>
                        <input v-model="newMessage.message" @keyup.enter="sendMessage" type="text" placeholder="Scrivi un messaggio">
                        <i v-if="newMessage.message == ''" class="fa-solid fa-microphone fs-4"></i>
                        <i v-else @click="sendMessage" class="fa-solid fa-circle-right fs-4"></i>
                    </div>
                </div>
            </div>
        </div>
        <div v-else class="splash-page h-100 d-flex flex-column justify-content-center align-items-center">
            <h1>Boolzapp</h1>
            <div class="loading-app">
                <transition name="load">
                    <div v-if="startLoad" class="h-100"></div>
                </transition>  
            </div>
        </div>
    </div>


    <script type="text/javascript" src="./js/script.js"></script>
</body>
</html>